.home {
  background-color: var(--base-color);
  height: 100vh;
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home > h2 {
  font-size: 30px;
  color: var(--gradient-3);
  margin: 0;
}

.home > h1 {
  font-size: 40px;
  margin: 0;
}
