.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--base-color);
  color: var(--primary-font-color);
  gap: 5vh;
  height: 70vh;
}

.skills_iconContainer {
  display: inline-block;
  top: 10%;
  /* width: 70vw; */
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
}

.skills_icon {
  margin: 5%;
  padding: 5%;
}

.skills_icon > svg {
  height: 5rem;
  width: 5rem;
}

/* .skills_icon > svg:hover {
  height: 7rem;
  width: 7rem;
} */
