.cards {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--base-color);
  color: var(--primary-font-color);
  flex-direction: column;
  gap: 10vh;
}

.cards__cardContainer > .cards__card {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--gradient-2);
  border-radius: 10px;
  text-decoration: none;
}

.cards__cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.cards__textContainer {
  max-width: 40vw;
  text-align: center;
}

.cards__textContainer > h2 {
  font-size: 30px;
  color: var(--gradient-3);
}

.cards__textContainer > h1 {
  font-size: 40px;
}

.cards__textContainer > p {
  font-size: 20px;
  color: var(--gradient-3);
}

.cards__card__iconContainer__icon {
  height: 60px;
}
